    <div class="bottom-footer-top">
        <div class="fp1">
            <h4 class="h4-top">LET US HELP YOU</h4>
            <div class="states">
                <p>Help Center</p>
                <p>How to shop on Quick Waka? </p>
                <p>Delivery options and timelines </p>
                <p>How to return a product on Quick Waka?</p>
                <p>Corporate and bulk purchases</p>
                <p>Report a Product</p>
            </div>
            <h4>FIND US ON</h4>
        </div>
        <div class="fp1">
            <h4 class="h4-top">EARN ON QUICK WAKA</h4>
            <div class="states">
                <p>Sell on Quick Waka</p>
                <p>Become a Rider</p>
            </div>
            <h4>APPROVED PAYMENT PARTNERS</h4>
        </div>
        <div class="fp1">
            <h4 class="h4-top">QUICK WAKA NIGERIA</h4>
            <div class="states">
                <p>Abakaliki</p>
                <p>Enugu</p>
                <p>Owerri</p>
                <p>Awka</p>
            </div>
        </div>
    </div>
