*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container{
    background-color: #333;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 500px repeat(3, 300px) 100px;
    gap: 5px;
}
.griditem{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item1{
    grid-area: 1/1/2/6;
}
.item2{
    grid-area: 2/1/7/2;
}
.item3{
    grid-area: 2/2/3/6;
    background-image: url('../images/listacc_img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.item4{
    grid-area: 3/2/4/4;
}
.item5{
    grid-area: 3/4/4/6;
}
.item6{
    grid-area: 4/2/5/5;
}
.item7{
    grid-area: 4/5/5/6;
}
.item8{
    grid-area: 5/2/6/3;
}
.item9{
    grid-area: 5/3/6/4;
}
.item10{
    grid-area: 5/4/6/6;
}
.item11{
    grid-area: 6/2/7/6;
}