<div class="top-footer">
    <div class="footer-img">
        <img src="assets/images/QW_LogoassetWhite.png" alt="">
    </div>
    <div class="middle">
        <h4>NEW TO QUICK WAKA?</h4>
        <p>Subscribe to our newsletter to get updates on our latest offers!</p>
        <div class="footer-input">
            <input type="email" name="email" placeholder="ENTER E-MAIL ADDRESS">
            <button>SUBSCRIBE</button>
        </div>
    </div>
    <div class="extreme">
        <div class="extreme-top">
            <img src="assets/images/QW_logo_png.png" alt="">
            <div class="download-info">
                <h4>DOWNLOAD QUICK WAKA APP</h4>
                <p>Enjoy faster Delivery!</p>
            </div>
        </div>
        <div class="extreme-bottom">
            <div class="img">
                <a href="#">
                    <img src="assets/images/89-894055_get-it-on-google-play-png-svg-royalty.png" alt="">
                </a>
            </div>
            <div class="img">
                <a href="#">
                    <img src="assets/images/5a902db97f96951c82922874.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
