<div class="row sale-row">
    <div class="col-lg col-sm-3 in">
        <div class="sale">
            <div class="ps">
                <img src="assets/images/IMG_6981.png" alt="">
            </div>
            <p>JBL Speasker</p>
        </div>
        <div class="price-button">
            &#8358;200,000
        </div>
    </div>
    <div class="col-lg col-sm-3 in">
        <div class="sale">
            <div class="ps">
                <img src="assets/images/a9f40835856cf16700239587db57838e.png" alt="">
            </div>
            <p>Brogues</p>
        </div>
        <div class="price-button">
            &#8358;200,000
        </div>
    </div>
    <div class="col-lg col-sm-3 in">
        <div class="sale">
            <div class="ps">
                <img src="assets/images/116508-Black-Diamond-Oyster-_adobespark.png" alt="">
            </div>
            <p>Rolex</p>
        </div>
        <div class="price-button">
            &#8358;200,000
        </div>
    </div>
    <div class="col-lg col-sm-3 in">
        <div class="sale">
            <div class="ps">
                <img src="assets/images/logolicious 120211102_061733.png" alt="">
            </div>
            <p>Parfait</p>
        </div>
        <div class="price-button">
            &#8358;200,000
        </div>
    </div>
    <div class="col-lg col-sm-3 in">
        <div class="sale">
            <div class="ps">
                <img src="assets/images/296-2967995_free-png-fajita-png-images-transparent-shawarma-png.png" alt="">
            </div>
            <p>Sharwama</p>
        </div>
        <div class="price-button">
            &#8358;200,000
        </div>
    </div>
    <div class="col-lg col-sm-3 in">
        <div class="sale">
            <div class="ps">
                <img src="assets/images/Free-Complete-Soccer-Kit-Mockup-PSD-File.png" alt="">
            </div>
            <p>Barca Kit</p>
        </div>
        <div class="price-button">
            &#8358;200,000
        </div>
    </div>
    <div class="col-lg col-sm-3 in">
        <div class="sale">
            <div class="ps">
                <img src="assets/images/WTURKEYGIZZARDS-2.png" alt="">
            </div>
            <p>Turkey Gizards</p>
        </div>
        <div class="price-button">
            &#8358;200,000
        </div>
    </div>
    <div class="col-lg col-sm-3 in">
        <div class="sale">
            <div class="ps">
                <img src="assets/images/free-jersey-mockups.png" alt="">
            </div>
            <p>Sports Kit</p>
        </div>
        <div class="price-button">
            &#8358;200,000
        </div>
    </div>
</div>
