    <div class="row inside-content">
        <div class="col-lg items col-sm-4 col-md-3">
            <div class="img">
                <img src="../../../assets/images/IMG_-3.png" alt="spag">
            </div>
            <div class="item-price">
                <p class="p1">Spaghetti</p>
                <p class="p2">Sold by Tastia</p>
                <h4>&#8358; 600</h4>
            </div>
            <div class="add-to-cart">
                <a href="#">Add to Cart</a>
            </div>
        </div>
        <div class="col-lg items col-sm-4 col-md-3">
            <div class="img">
                <img src="../../../assets/images/pexels-harry-dona-2338407.png" alt="spag">
            </div>
            <div class="item-price">
                <p class="p1">Spaghetti</p>
                <p class="p2">Sold by Tastia</p>
                <h4>&#8358; 600</h4>
            </div>
            <div class="add-to-cart">
                <a href="#">Add to Cart</a>
            </div>
        </div>
        <div class="col-lg items col-sm-4 col-md-3">
            <div class="img">
                <img src="../../../assets/images/pexels-ehioma-osih-11743998.png" alt="spag">
            </div>
            <div class="item-price">
                <p class="p1">Spaghetti</p>
                <p class="p2">Sold by Tastia</p>
                <h4>&#8358; 600</h4>
            </div>
            <div class="add-to-cart">
                <a href="#">Add to Cart</a>
            </div>
        </div>
        <div class="col-lg items col-sm-4 col-md-3">
            <div class="img">
                <img src="../../../assets/images/119-1192360_chicken-fried-rice-transparent-hd-png-download.png" alt="spag">
            </div>
            <div class="item-price">
                <p class="p1">Spaghetti</p>
                <p class="p2">Sold by Tastia</p>
                <h4>&#8358; 600</h4>
            </div>
            <div class="add-to-cart">
                <a href="#">Add to Cart</a>
            </div>
        </div>
        <div class="col-lg items col-sm-4 col-md-3">
            <div class="img">
                <img src="../../../assets/images/pexels-mumtahina-tanni-6260921.png" alt="spag">
            </div>
            <div class="item-price">
                <p class="p1">Spaghetti</p>
                <p class="p2">Sold by Tastia</p>
                <h4>&#8358; 600</h4>
            </div>
            <div class="add-to-cart">
                <a href="#">Add to Cart</a>
            </div>
        </div>
        <div class="col-lg items col-sm-4 col-md-3">
            <div class="img">
                <img src="../../../assets/images/pexels-ivan-babydov-7788311.png" alt="spag">
            </div>
            <div class="item-price">
                <p class="p1">Spaghetti</p>
                <p class="p2">Sold by Tastia</p>
                <h4>&#8358; 600</h4>
            </div>
            <div class="add-to-cart">
                <a href="#">Add to Cart</a>
            </div>
        </div>
        <div class="col-lg items col-sm-4 col-md-3">
            <div class="img">
                <img src="../../../assets/images/turkey.png" alt="spag">
            </div>
            <div class="item-price">
                <p class="p1">Spaghetti</p>
                <p class="p2">Sold by Tastia</p>
                <h4>&#8358; 600</h4>
            </div>
            <div class="add-to-cart">
                <a href="#">Add to Cart</a>
            </div>
        </div>
    </div>
    <div class="row mt-3 inside-content">
        <div class="col-lg items col-sm-4 col-md-3">
            <div class="img">
                <img src="../../../assets/images/IMG_-1.png" alt="spag">
            </div>
            <div class="item-price">
                <p class="p1">Spaghetti</p>
                <p class="p2">Sold by Tastia</p>
                <h4>&#8358; 600</h4>
            </div>
            <div class="add-to-cart">
                <a href="#">Add to Cart</a>
            </div>
        </div>
        <div class="col-lg items col-sm-4 col-md-3">
            <div class="img">
                <img src="../../../assets/images/IMG_-2.png" alt="spag">
            </div>
            <div class="item-price">
                <p class="p1">Spaghetti</p>
                <p class="p2">Sold by Tastia</p>
                <h4>&#8358; 600</h4>
            </div>
            <div class="add-to-cart">
                <a href="#">Add to Cart</a>
            </div>
        </div>
        <div class="col-lg items col-sm-4 col-md-3">
            <div class="img">
                <img src="../../../assets/images/egusi-soup-online.png" alt="spag">
            </div>
            <div class="item-price">
                <p class="p1">Spaghetti</p>
                <p class="p2">Sold by Tastia</p>
                <h4>&#8358; 600</h4>
            </div>
            <div class="add-to-cart">
                <a href="#">Add to Cart</a>
            </div>
        </div>
        <div class="col-lg items col-sm-4 col-md-3">
            <div class="img">
                <img src="../../../assets/images/IMG_-3.png" alt="spag">
            </div>
            <div class="item-price">
                <p class="p1">Spaghetti</p>
                <p class="p2">Sold by Tastia</p>
                <h4>&#8358; 600</h4>
            </div>
            <div class="add-to-cart">
                <a href="#">Add to Cart</a>
            </div>
        </div>
        <div class="col-lg items col-sm-4 col-md-3">
            <div class="img">
                <img src="../../../assets/images/IMG_20201124_124628-scaled.png" alt="spag">
            </div>
            <div class="item-price">
                <p class="p1">Spaghetti</p>
                <p class="p2">Sold by Tastia</p>
                <h4>&#8358; 600</h4>
            </div>
            <div class="add-to-cart">
                <a href="#">Add to Cart</a>
            </div>
        </div>
        <div class="col-lg items col-sm-4 col-md-3">
            <div class="img">
                <img src="../../../assets/images/1605210356963240-0.png" alt="spag">
            </div>
            <div class="item-price">
                <p class="p1">Spaghetti</p>
                <p class="p2">Sold by Tastia</p>
                <h4>&#8358; 600</h4>
            </div>
            <div class="add-to-cart">
                <a href="#">Add to Cart</a>
            </div>
        </div>
        <div class="col-lg items col-sm-4 col-md-3">
            <div class="img">
                <img src="../../../assets/images/Konbini.com_.png" alt="spag">
            </div>
            <div class="item-price">
                <p class="p1">Spaghetti</p>
                <p class="p2">Sold by Tastia</p>
                <h4>&#8358; 600</h4>
            </div>
            <div class="add-to-cart">
                <a href="#">Add to Cart</a>
            </div>
        </div>
        <!-- <div class="clearfix"></div> -->
    </div>
