    <div class="inner-nav">
        <div class="fd">
            <a href="#" class="">
                <img src="assets/images/icons/ic_room_service_24px.png" alt=""><span>Food Delivery</span>
            </a>
        </div>
        <div class="fe">
            <a href="#" class="">
                <img src="assets/images/icons/Icon awesome-gas-pump.png" alt=""><span>Fuel Errand</span>
            </a>
        </div>
        <div class="md">
            <a href="#" class="">
                <img src="assets/images/icons/Icon material-local-hospital.png" alt=""><span>Medical Delivery</span>
            </a>
        </div>
        <div class="pp">
            <a href="#" class="">
                <img src="assets/images/icons/ic_layers_-1.png" alt="" type="icon"><span>Parcel Pickup</span>
            </a>
        </div>
        <div class="me">
            <a href="#" class="">
                <img src="assets/images/icons/Icon ionic-ios-cart.png" alt=""><span>Market Errand</span>
            </a>
        </div>
        <div class="g">
            <a href="#" class="">
                <img src="assets/images/icons/Icon awesome-apple-alt.png" alt=""><span>Groceries</span>
            </a>
        </div>
        <div class="gr">
            <a href="#" class="">
                <img src="assets/images/icons/gas-cylinder.png" alt=""><span>Gas Refill</span>
            </a>
        </div>
    </div>
