<div class="row">
    <div class="header px-4">
        <div class="logo">
            <a href="#"><img src="../../assets/images/Quick_Waka_newlogo.png" alt=""></a>
        </div>
        <div class="input-group search">
            <div class="input-group search-first">
                <img src="../../assets/images/Icon-awesome-search.png" alt="">
                <input type="text border-left-0" class="form-control search-input"
                    placeholder="Search product, vendors and categories">
            </div>
            <div class="input-group search-button">
                <button class="btn btn-primary" type="button">Search</button>
            </div>
        </div>
        <div class="account">
            <a href="">
                <img src="../../assets/images/YLV9741-Copy.png" alt="">
                <span class="img-text">
                    Account
                </span>
            </a>
            <a href="">
                <img src="../../assets/images/Icon-ios-cart.png" alt="">
                <span class="img-text">
                    Cart
                </span>
            </a>
        </div>
        <div class="menu">
            <i class="bi bi-list menu-item"></i>
        </div>
    </div>
    <div class="add-nav hide">
        <ul>
            <li><a href="#">Food Delivery</a></li>
            <li><a href="#">Fuel Errand</a></li>
            <li><a href="#">Medical Delivery</a></li>
            <li><a href="#">Parcel Pickup</a></li>
            <li><a href="#">Market Errand</a></li>
            <li><a href="#">Groceries</a></li>
            <li><a href="#">Gas Refill</a></li>
        </ul>
    </div>
</div>
