<div class="row buying-row">
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/3.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Golden Morn</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Appexco</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/114707_1564159763.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Arare Suit</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Fashion Hub</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/panadol.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Panadol</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Octovia Pharmacy</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/5-Alive-85cl-Pulpy.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">5 Alive Pulpy</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Roban Stores</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/3.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Golden Morn</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Appexco</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/114707_1564159763.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Arare Suit</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Fashion Hub</p>
    </div>
</div>
<div class="row buying-row">
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/3.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Golden Morn</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Appexco</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/114707_1564159763.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Arare Suit</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Fashion Hub</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/panadol.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Panadol</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Octovia Pharmacy</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/5-Alive-85cl-Pulpy.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">5 Alive Pulpy</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Roban Stores</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/3.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Golden Morn</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Appexco</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/114707_1564159763.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Arare Suit</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Fashion Hub</p>
    </div>
</div>
<div class="row buying-row">
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/3.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Golden Morn</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Appexco</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/114707_1564159763.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Arare Suit</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Fashion Hub</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/panadol.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Panadol</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Octovia Pharmacy</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/5-Alive-85cl-Pulpy.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">5 Alive Pulpy</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Roban Stores</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/3.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Golden Morn</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Appexco</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/114707_1564159763.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Arare Suit</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Fashion Hub</p>
    </div>
</div>
<div class="row buying-row">
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/3.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Golden Morn</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Appexco</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/114707_1564159763.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Arare Suit</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Fashion Hub</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/panadol.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Panadol</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Octovia Pharmacy</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/5-Alive-85cl-Pulpy.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">5 Alive Pulpy</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Roban Stores</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/3.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Golden Morn</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Appexco</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/114707_1564159763.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Arare Suit</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Fashion Hub</p>
    </div>
</div>
<div class="row buying-row">
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/3.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Golden Morn</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Appexco</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/114707_1564159763.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Arare Suit</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Fashion Hub</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/panadol.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Panadol</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Octovia Pharmacy</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/5-Alive-85cl-Pulpy.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">5 Alive Pulpy</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Roban Stores</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/3.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Golden Morn</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Appexco</p>
    </div>
    <div class="col-lg col-sm-3 buying">
        <div class="img">
            <img src="../../../assets/images/114707_1564159763.png" alt="">
        </div>
        <div class="name-price">
            <p class="p-name">Arare Suit</p>
            <p class="p-price">&#8358;350</p>
        </div>
        <p class="buying-p">Fashion Hub</p>
    </div>
</div>
